<section class="bg-light">
    <br>
    <div class="container card">
        <form #empForm="ngForm" name="form" (ngSubmit)="addEmployee(empForm.value)" class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="emp_id">ID</label>
                    <input required ngModel #emp_val1="ngModel" name="emp_id" id="emp_val" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val1.touched && !emp_val1.valid">ID is required</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="emp_name">Name</label>
                    <input required ngModel #emp_val2="ngModel" name="emp_name" id="emp_name" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val2.touched && !emp_val2.valid">Name is required</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="dob">DOB</label>
                    <input required ngModel #emp_val3="ngModel" name="dob" id="dob" type="date" class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val3.touched && !emp_val3.valid">Date of Birth is
                        required
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="mobile">DOJ</label>
                    <input required ngModel #emp_val4="ngModel" name="doj" id="doj" type="date" class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val4.touched && !emp_val4.valid">Date of Joining is
                        required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="mobile">Mobile</label>
                    <input required ngModel #emp_val9="ngModel" name="mobile" id="mobile" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val9.touched && !emp_val9.valid">Mobile is required</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">e-mail</label>
                    <input required ngModel #emp_val5="ngModel" name="email" id="email" type="email"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val5.touched && !emp_val5.valid">email is required</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="department">Department</label>
                    <input required ngModel #emp_val6="ngModel" name="department" id="department" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val6.touched && !emp_val6.valid">Department is required</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="deisgnation">Designation</label>
                    <input required ngModel #emp_val7="ngModel" name="designation" id="designation" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val7.touched && !emp_val7.valid">Designation is required</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="location">Location</label>
                    <input required ngModel #emp_val8="ngModel" name="location" id="location" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="emp_val8.touched && !emp_val8.valid">Location is required</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <!-- <button class="btn btn-primary" (click)="addEmployee()">Submit</button> -->
        </form>
    </div>
    <br><br>

    <div class="container card">
        <br>
        <h2>List of Current Employes</h2>
        <br>
        <table class="card-body table table-striped">
            <thead>
                <tr class="text-info">
                    <th>ID</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>DOJ</th>
                    <th>Mobile</th>
                    <th>email</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-muted" *ngFor="let emp of Employees">
                    <td>{{ emp.employee_id }}</td>
                    <td>{{ emp.employee_name }}</td>
                    <td>{{ emp.dob }}</td>
                    <td>{{ emp.date_of_joining }}</td>
                    <td>{{ emp.mobile }}</td>
                    <td>{{ emp.email_id }}</td>
                    <td>{{ emp.department }}</td>
                    <td>{{ emp.designation }}</td>
                    <td>{{ emp.location }}</td>
                    <td>
                        <button type="button" class="btn bg-transparent " data-toggle="modal" data-target="#editModalCenter" (click)="updateEmployee(emp)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="purple"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </button>
                        <button type="button" class="btn bg-transparent " data-toggle="modal" data-target="#deleteModalCenter">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="red"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                            </svg>
                        </button>

                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Update Employee Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Delete Confirmation Model -->
                        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this item ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteEmployee(emp)">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>